p{
  font-family: roboto;
  margin-bottom: 6px;
  color: gray;
  font-size: 13px;
}
.image-1 {
  width: 200px;
  border-radius: 13px;
}

.image-2 {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.image-3 {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}

.searchbox-1 {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
}

.searchbox-2 {
  width: 400px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 1px 5px rgba(0,0,0,0.2)
}

.searchbox-3 {
  width: 300px;
  border-style: solid;
  border-radius: 4px;
}

.by {
  margin-bottom: 14px;
}

.button-1 {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 120px;
  padding-right: 120px;
  background-color: rgb(82, 82, 248);
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 23px;
}

.image-4 {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  vertical-align: middle;
}

.what {
  vertical-align: middle;
  width: 300px;
  border: none;
  font-size: 17px;
}

.tweet-button{
  background-color: rgb(60, 147, 247);
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right:16px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}