.back-button {
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
}

.search-result {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 18px;
}

.next-button {
  margin-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  margin-right: 8px;
}

.stretch{
  background-color: rgb(8, 160, 0);
  border: none;
  color: white;
  font-size: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  transition: padding 1s;
}

.stretch:hover{
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.shadow{ 
  background-color: rgb(8, 160, 0);
  border: none;
  color: white;
  font-size: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
  margin-right: 8px;
  margin-left: 8px;
}

.shadow:active{
  margin-top: 12px;
  margin-left: 12px;
  box-shadow: none;
}

.one{ 
  background-color: rgb(8, 160, 0);
  border: none;
  color: white;
  font-size: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 4px;
  margin-left: 4px;
  cursor: pointer;
  transition: padding 0.2s, margin 0.2s;
}

.one:hover{
  padding-left: 16px;
  padding-right: 16px; 
  margin-left: 0px;
  margin-right: 0px;
}

.two{ 
  background-color: rgb(8, 160, 0);
  border: none;
  color: white;
  font-size: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 4px;
  margin-left: 4px;
  cursor: pointer;
  transition: padding 0.2s, margin 0.2s;
}

.two:hover{
  padding-left: 16px;
  padding-right: 16px; 
  margin-left: 0px;
  margin-right: 0px;
}

.three{ 
  background-color: rgb(8, 160, 0);
  border: none;
  color: white;
  font-size: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 4px;
  margin-left: 4px;
  cursor: pointer;
  transition: padding 0.2s, margin 0.2s;
}

.three:hover{
  padding-left: 16px;
  padding-right: 16px; 
  margin-left: 0px;
  margin-right: 0px;
}